@use "@styles/base/_variables" as *;

.title {
  margin: 0;
  color: $clr-text-strong;
}

.title--page {
  font-size: 1.6rem;
  font-weight: 700;
}

.title--section {
  font-size: 1.15rem;
  font-weight: 600;
}

.title--label {
  font-size: 0.95rem;
  font-weight: 600;
  color: $clr-text;
}
