@use "@styles/base/variables" as *;

.card {
  background: $clr-surface;
  border-radius: $radius-lg;
}

.card-outline {
  border: 1px solid $clr-border;
  background: $clr-surface;
}

.card-solid {
  background: $clr-surface;
  box-shadow: $shadow-card;
}
