.main-layout {
  display: grid;
  grid-template-columns: minmax(16px, 1fr) minmax(0, 980px) minmax(16px, 1fr);

  & > *:not(.full) {
    grid-column: 2;
  }

  & > .full {
    grid-column: 1 / -1;
  }
}
