@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  color-scheme: light;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $clr-bg;
  color: $clr-text;
  line-height: 1.5;
  font-size: 16px;
}
