// Colors
$clr-primary: #0a4283;
$clr-primary-light: #1260b8;
$clr-primary-dark: #062d5b;

$clr-header: #1C2944;
$clr-header-text: #E8C8FF;

$clr-bg: #fff;
$clr-text: #222;

// Spacing scale
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 32px;

// Breakpoints
$bp-s: 600px;
$bp-m: 890px;
$bp-l: 1060px;

// Transition
$transition-fast: .2s ease;
